.nav-links {
  text-decoration: none;
  color: #f3f3f3;
}

.nav-links:hover {
  color: #434dcd;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: none;
}

.close {
  opacity: 0;
}

.links-social {
  color: #fefefe;
  transition: all 100ms;
  cursor: pointer;
}

.links-social:hover {
  opacity: .8;
  color: #fefefe;
}

.back-to-top {
  text-decoration: none;
  font-size: 30px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  color: #fefefe;
  background-color: #2274a5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: all 300ms;
  z-index: 9999;
}

.back-to-top:hover {
  color: #fefefe;
  opacity: .9;
}

.back-to-top-disable {
  text-decoration: none;
  font-size: 30px;
  position: fixed;
  right: -50px;
  bottom: 10px;
  border-radius: 10px;
  color: #fefefe;
  background-color: #2274a5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: all 300ms;
  z-index: 9999;
}

.btn:focus,
.btn:active {
  box-shadow: 0 0 0 0;
}

.btn-check:active + .btn-outline-success:focus,
.btn-check:checked + .btn-outline-success:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus,
.btn-outline-success:active:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0;
}

button:active {
  opacity: 0.8;
}

.bg-light {
  background-color: #3e3e3e !important;
}

.link-email {
  text-decoration: underline;
  color: #fefefe;
  transition: all 50ms;
}

.link-email:hover {
  color: #fefefe;
  opacity: 0.8;
}

.btn-group {
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.card-text {
  text-align: center;
}

.fa-map-marker-alt {
  display: flex !important;
  gap: 5px;
}

.fa-whatsapp {
  display: flex !important;
  gap: 5px;
}

@media (max-width: 768px) {
  nav {
    background: #444444;
    border-radius: 8px 0 0 8px;
    height: 266px;
    width: 200px;
    top: 0;
    overflow: hidden;
    right: -200px;
    position: fixed;
    transition: all 500ms ease-in-out;
  }

  .ul {
    display: block !important;
    width: 100%;
    padding: 0;
    top: 64px;
    position: absolute;
    text-align: center;   
  }

  .li {
    padding: 20px 0 !important;
    color: #fefefe;
    font-size: 18px;
  }

  .li:hover {
    background-color: #fefefe !important;
    color: #444444 !important;
  }

  label {
    display: block;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    top: 7px;
    right: 10px;
    transition: all 600ms;
    cursor: pointer;
    z-index: 9999;
  }

  input[type="checkbox"]:checked ~ nav {
    right: 0;
    position: absolute;
  }

  input[type="checkbox"]:checked ~ label {
    color: #fefefe;
  }

  input[type="checkbox"]:checked ~ .bars {
    opacity: 0;
  }

  input[type="checkbox"]:checked ~ .close {
    opacity: 1;
  }
}

@media (max-width: 465px) {
  .back-to-top,
  .back-to-top-disable {
    bottom: 65px;
  }
}